  $facebook-colour-x: 0px;
  $facebook-colour-y: 115px;
  $facebook-colour-offset-x: 0px;
  $facebook-colour-offset-y: -115px;
  $facebook-colour-width: 115px;
  $facebook-colour-height: 115px;
  $facebook-colour-total-width: 115px;
  $facebook-colour-total-height: 1380px;
  $facebook-colour-image: '/images/sprites-social.png';
  $facebook-colour: 0px 115px 0px -115px 115px 115px 115px 1380px '/images/sprites-social.png';
  $facebook-grey-x: 0px;
  $facebook-grey-y: 690px;
  $facebook-grey-offset-x: 0px;
  $facebook-grey-offset-y: -690px;
  $facebook-grey-width: 115px;
  $facebook-grey-height: 115px;
  $facebook-grey-total-width: 115px;
  $facebook-grey-total-height: 1380px;
  $facebook-grey-image: '/images/sprites-social.png';
  $facebook-grey: 0px 690px 0px -690px 115px 115px 115px 1380px '/images/sprites-social.png';
  $flickr-colour-x: 0px;
  $flickr-colour-y: 230px;
  $flickr-colour-offset-x: 0px;
  $flickr-colour-offset-y: -230px;
  $flickr-colour-width: 115px;
  $flickr-colour-height: 115px;
  $flickr-colour-total-width: 115px;
  $flickr-colour-total-height: 1380px;
  $flickr-colour-image: '/images/sprites-social.png';
  $flickr-colour: 0px 230px 0px -230px 115px 115px 115px 1380px '/images/sprites-social.png';
  $flickr-grey-x: 0px;
  $flickr-grey-y: 345px;
  $flickr-grey-offset-x: 0px;
  $flickr-grey-offset-y: -345px;
  $flickr-grey-width: 115px;
  $flickr-grey-height: 115px;
  $flickr-grey-total-width: 115px;
  $flickr-grey-total-height: 1380px;
  $flickr-grey-image: '/images/sprites-social.png';
  $flickr-grey: 0px 345px 0px -345px 115px 115px 115px 1380px '/images/sprites-social.png';
  $googleplus-colour-x: 0px;
  $googleplus-colour-y: 460px;
  $googleplus-colour-offset-x: 0px;
  $googleplus-colour-offset-y: -460px;
  $googleplus-colour-width: 115px;
  $googleplus-colour-height: 115px;
  $googleplus-colour-total-width: 115px;
  $googleplus-colour-total-height: 1380px;
  $googleplus-colour-image: '/images/sprites-social.png';
  $googleplus-colour: 0px 460px 0px -460px 115px 115px 115px 1380px '/images/sprites-social.png';
  $googleplus-grey-x: 0px;
  $googleplus-grey-y: 575px;
  $googleplus-grey-offset-x: 0px;
  $googleplus-grey-offset-y: -575px;
  $googleplus-grey-width: 115px;
  $googleplus-grey-height: 115px;
  $googleplus-grey-total-width: 115px;
  $googleplus-grey-total-height: 1380px;
  $googleplus-grey-image: '/images/sprites-social.png';
  $googleplus-grey: 0px 575px 0px -575px 115px 115px 115px 1380px '/images/sprites-social.png';
  $instagram-colour-x: 0px;
  $instagram-colour-y: 0px;
  $instagram-colour-offset-x: 0px;
  $instagram-colour-offset-y: 0px;
  $instagram-colour-width: 115px;
  $instagram-colour-height: 115px;
  $instagram-colour-total-width: 115px;
  $instagram-colour-total-height: 1380px;
  $instagram-colour-image: '/images/sprites-social.png';
  $instagram-colour: 0px 0px 0px 0px 115px 115px 115px 1380px '/images/sprites-social.png';
  $instagram-grey-x: 0px;
  $instagram-grey-y: 805px;
  $instagram-grey-offset-x: 0px;
  $instagram-grey-offset-y: -805px;
  $instagram-grey-width: 115px;
  $instagram-grey-height: 115px;
  $instagram-grey-total-width: 115px;
  $instagram-grey-total-height: 1380px;
  $instagram-grey-image: '/images/sprites-social.png';
  $instagram-grey: 0px 805px 0px -805px 115px 115px 115px 1380px '/images/sprites-social.png';
  $tumblr-colour-x: 0px;
  $tumblr-colour-y: 920px;
  $tumblr-colour-offset-x: 0px;
  $tumblr-colour-offset-y: -920px;
  $tumblr-colour-width: 115px;
  $tumblr-colour-height: 115px;
  $tumblr-colour-total-width: 115px;
  $tumblr-colour-total-height: 1380px;
  $tumblr-colour-image: '/images/sprites-social.png';
  $tumblr-colour: 0px 920px 0px -920px 115px 115px 115px 1380px '/images/sprites-social.png';
  $tumblr-grey-x: 0px;
  $tumblr-grey-y: 1035px;
  $tumblr-grey-offset-x: 0px;
  $tumblr-grey-offset-y: -1035px;
  $tumblr-grey-width: 115px;
  $tumblr-grey-height: 115px;
  $tumblr-grey-total-width: 115px;
  $tumblr-grey-total-height: 1380px;
  $tumblr-grey-image: '/images/sprites-social.png';
  $tumblr-grey: 0px 1035px 0px -1035px 115px 115px 115px 1380px '/images/sprites-social.png';
  $twitter-colour-x: 0px;
  $twitter-colour-y: 1150px;
  $twitter-colour-offset-x: 0px;
  $twitter-colour-offset-y: -1150px;
  $twitter-colour-width: 115px;
  $twitter-colour-height: 115px;
  $twitter-colour-total-width: 115px;
  $twitter-colour-total-height: 1380px;
  $twitter-colour-image: '/images/sprites-social.png';
  $twitter-colour: 0px 1150px 0px -1150px 115px 115px 115px 1380px '/images/sprites-social.png';
  $twitter-grey-x: 0px;
  $twitter-grey-y: 1265px;
  $twitter-grey-offset-x: 0px;
  $twitter-grey-offset-y: -1265px;
  $twitter-grey-width: 115px;
  $twitter-grey-height: 115px;
  $twitter-grey-total-width: 115px;
  $twitter-grey-total-height: 1380px;
  $twitter-grey-image: '/images/sprites-social.png';
  $twitter-grey: 0px 1265px 0px -1265px 115px 115px 115px 1380px '/images/sprites-social.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
