<h1>Best photo locations in London</h1>

<div class="row map-row">
  <div class="col-md-12 photo-map-col">
    <google-map class='photo-map'></my-map>
  </div>
</div>

<div class="row filters-row">
  <div class="col-md-2 col-xs-3">
    <form class="form-inline">
      <input type="search" class="form-control search" placeholder="Search..." ng-model="query">
    </form>

  </div>

  <div class="col-md-10 col-xs-9">
    <button id='line-filter-{{line.id}}'
            class='line-filter'
            title="{{line.name}}"
            ng-repeat="line in lines"
            ng-style="{ 'background-color': line.color }"
            ng-click="filterByLine(line.id)">
    </button>
  </div>
</div>

<div class="row photos-row">
  <div class="col-md-12 photos-col">

    <ul ng-switch='filteredPhotos.length' class='photos'>
      <li ng-switch-when='0' class='no-photos'>No photos found</li>

      <li class='photo' ng-repeat="photo in filteredPhotos">
      <!-- <li class='photo' ng-repeat="photo in (filteredPhotos = (photos | filter:query | photoLineFilter:line:stations))"> -->
        <div class="row">
          <div class="col-md-3">
            <img ng-src="{{photo.smallUrl}}"/>
          </div>

          <div class="col-md-7">
            <h3>{{photo.name}}</h3>
            <p>{{photo.description}}</p>
          </div>

          <div class="col-md-2">
            Underground Stations
            <ul class='stations'>
              <li class='station' class='clearfix' ng-repeat="stationId in photo.stationIds">
                <div class="station-name" ng-init='station = (stations | filter:{ id: stationId }:true)[0]'>
                  {{ station.name }}
                </div>

                <button class='station-lines'
                        title="{{line.name}}"
                        ng-repeat="line in lines | byIds:station.lineIds"
                        ng-style="{ 'background-color': line.color }"
                        ng-click="filterByLine(line.id)">
                </button>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
